<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" id="#brandimage1" src="assets/img/logo-fullmenu.png">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" a [routerLink]="['']">Inicio 
            <i class="fa fa-home pr-10"></i>
          </a>
          
        </li>
        <li class="nav navbar-nav navbar-right"   *ngIf="identity">
          <a class="nav-link" a [routerLink]="['crear-coche']">Crear Coche</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a class="nav-link"  [routerLink]="['']" >Como Funciona 
            <i class="fa fa-graduation-cap pr-10"></i>
          </a>
        </li>
        <li class="nav navbar-nav navbar-right" >
            <a class="nav-link"  [routerLink]="['registro']">Registrarse
                <i class="fa fa-user pr-10"></i>
            </a>
          </li>
        <li class="nav navbar-nav navbar-right" >
          <a class="nav-link"  [routerLink]="['login']">Iniciar
              <i class="fa fa-lock pr-10"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="nav navbar-nav navbar-right" >
          <a class="nav-link"  href="#">{{identity.name + ' ' + identity.surname}}</a>
        </li>
        <li class="nav navbar-nav navbar-right" >
          <a class="nav-link"  [routerLink]="['logout', 1]">
            <span class="glyphicon glyphicon-log-out"></span>
            Salir
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>