<section id="footer" class="footer footerx">
    <!-- .footer start -->
    <!-- ================ -->
    <div class="container">
        <div class="row">
            <div class="footer-inner col-12">
                <div class="footer-content text-center">
                    <div class="logo-footer"><img id="logo-footer" class="center-block" src="assets/img/logo-full.png"
                            alt="">
                    </div>
                    <strong>
                        <p>TuMeContratas - Todos los derechos reservados - Ley de protección de datos</p>
                    </strong>
                    <ul class="list-inline mb-20 nav nav-pills" style="margin-top: -1%;margin-bottom: -1%;">
                        <li><a [routerLink]="['nosotros']"><i class="text-default"></i>Nosotros</a></li>
                        <li><a [routerLink]="['profesional']"><i class="text-default"></i>&uacute;nete como
                                profesional</a>
                        </li>
                        <li><a [routerLink]="['elegir-cuenta']"><i class="text-default"></i>Reg&iacute;strate</a>
                        </li>
                    </ul>
                    <ul class="list-inline mb-20">
                        <li><i class="text-default pr-1 fa fa-map-marker"></i>Colombia, 54100</li>
                        <li><a href="tel:+57 123456789" class="link-dark"><i
                                    class="text-default fa fa-phone-volume "></i>+57 123456789</a></li>
                        <li><a href="mailto:info@tumecontratas.com" class="link-dark"><i
                                    class="text-default fa fa-envelope "></i>info@tumecontratas.com</a>
                        </li>
                    </ul>
                    <ul class="social-links circle animated-effect-1">
                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/tumecontratas/"><i
                                    class="fab fa-facebook fa-stack-1x"></i></a></li>
                        <li class="twitter"><a target="_blank" href="https://twitter.com/tumecontratas"><i
                                    class="fab fa-twitter fa-stack-1x"></i></a></li>
                        <li class="googleplus"><a target="_blank"
                                href="https://plus.google.com/117414334970008849966"><i
                                    class="fab  fa-google fa-stack-1x"></i></a></li>
                        <li class="linkedin"><a target="_blank"
                                href="https://www.linkedin.com/in/tume-contratas-0ab302121?trk=hp-identity-name"><i
                                    class="fab fa-linkedin fa-stack-1x"></i></a></li>
                        <li class="whatsapp"><a target="_blank" href="https://www.whatsapp.com/"><i
                                    class="fab fa-whatsapp fa-stack-1x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->
</section>
<!-- footer end -->