<div class="loading" *ngIf="!servicios">
	serach Cargando...
</div>

<form class="form-inline my-2 my-lg-0">
	<div class="col-xs-6 col-xs-offset-3">
	<input class="form-control mr-sm-2" name="filterServicios" [(ngModel)]="filterServicios" 
	type="search" placeholder="Search" aria-label="Search" >
	<!--button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button-->
</div>
  </form>
<div class="col-md-12" >
	<table class="table table-hover table-stripped" id="servicios-list" >
		<tr >
			<th class="col-md-7">Lista serach index primer path</th>
			<th>Acciones</th>
		</tr>
		<tr *ngFor="let servicio of servicios | filter:filterServicios">
			<td class="col-md-7">
				<a [routerLink]="['/search-result', servicio.id]">{{servicio.nombre}}</a>

			</td>
			<td>
				<a [routerLink]="['editar-coche', servicio.id]" class="btn btn-warning">Editar</a>
				<a (click)="deleteServicio(servicio.id)" class="btn btn-danger">Borrar</a>
			</td>
		</tr>
	</table>
</div>