.navbar-light .navbar-nav .nav-link {
    color: #007bff;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
   /* text-decoration: none;
    background-color:#f0eff3;*/
    color :var(--color-active);
    background: var(--webkit-linear-gradient);
    border-color: var(--border-color-active);

}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.bg-light {
    background-color: #e2ecf7 !important;
    background: var(--webkit-linear-gradient);
}

.login{
    background: var(--webkit-linear-gradient);
    margin-top: 3%;
    padding: 3%;
    border-radius: 2.5rem;
}